#footer {
    margin-top: 30px;
    padding: 10px;
    color: white;
    background: #2C3E50;
}

#footer p {
    margin-bottom: 0px;
}

.button-set {
    margin-top: 10px;
}

.container {
    margin-top: 10px;
}
